// Couleurs
$color-background: #333;
$color-text: #ccc;
$color-primary: #0056b3;
$color-primary-hover: #003d80;
$color-border: #444;
$color-checkbox-bg: #333;
$color-checkbox-hover: #0056b3;
$color-checkbox-checked-bg: green;

// Typographie
$font-family-base: "Roboto", Arial, sans-serif;
$font-size-base: 1rem;
